/* .home__categories {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home__categoryImage{
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.home__categoryLink{
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.home__category h2,.home__category p  {
  padding: 5px;
  margin-left: 15px;
}

.home__category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9,132,209);
}

.home__categoryContainer{
  position: relative;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
} */

